#footer {
    width: 100%;
    background: #1F2333;
}

#footer-content {
    width: 320px;
    max-width: 1170px;
    margin: 0 auto;
    color: #fff;
    display: flex;
    justify-content: center;
}

#about-us {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    max-width: 370px;
}

.footer-logo {
    margin-bottom: 9px;
    margin-top: 13px;
}

#about-us .content {
    color: #AAABAF;
    font-size: 13px;
    line-height: 24px;
    font-weight: 200;
    margin-bottom: 31px;
    padding: 0 5px;
}

#footer-menu {
    display: none;
    width: 600px;
    margin-top: 27px;
    justify-content: space-between;
}

#footer-menu .item{
    font-size: 13px;
    line-height: 32px;
    font-weight: 200;
    color: #AAABAF;
}

#footer-menu .title{
    font-size: 13px;
    line-height: 32px;
    text-transform: uppercase;
    font-weight: 600;
    color: #fff;
    margin-left: -9px;
}

#published-by {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 200;
    background: #0090FF;
    font-size: 12px;
    line-height: 24px;
    color: #fff;
}