main {
    width: 320px;
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

#main-content {
    width: 100%;
    height: auto;
    margin: 0 auto;
    margin-bottom: 17px;
    max-width: 770px;
    display: flex;
    flex-wrap: wrap;
}

.news {
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.news .child {
    width: 100%;
    height: auto;
    margin-bottom: 30px;
}


.news .child .img {
    width: 100%;
    position: relative;
    margin-bottom: 10px;
}

.news .child img {
    width: 100%;
    height: 100%;
}

.news .heading-topic {
    position: absolute;
    top: 0;
    left: 0;
    width: 70px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    line-height: 20px;
    font-weight: 200;
    color: #fff;
    text-transform: uppercase;
}

.blue {
    background: #0080CE;
}

.turquoise {
    background: #0AB3AF;
}

.golden {
    background: #E4A211;
}

.green {
    background: #32B336;
}

.news .child .news-title,
.news .child span {
    padding-left: 5px;
    padding-right: 5px;
}

.news .child .news-title {
    font-size: 15px;
    line-height: 20px;
    font-weight: 500;
    margin-bottom: 10px;
    transition: 0.2s;
}

.news .child .news-title:hover {
    color: #27ae60;
}

.news .child span {
    display: inline-block;
    font-size: 14px;
    font-weight: 200;
    line-height: 24px;
    color: #666666;
}

.news .news-menu {
    width: 100%;
    height: 46px;
    display: flex;
    align-items: center;
    border-top: 3px solid #0090FF;
    border-bottom: 1px solid #EDEDED;
    margin-bottom: 19px;
    justify-content: space-between;
}

.news .news-menu .title-menu {
    font-weight: 600;
    font-size: 20px;
    line-height: 20px;
    color: #0090FF;
    text-transform: uppercase;
    padding-left: 5px;
}

.news .news-menu .menu {
    display: none;
    color: #1D1D1D;
    font-size: 13px;
    line-height: 22px;
    font-weight: 400;
    text-transform: capitalize;
}

.news .news-menu .menu .item{
    padding-left: 20px;
    display: flex;
}

.news .news-menu .menu .item:hover a{
    color: #0090FF;
}

.news .news-menu .menu .item:not(:first-child)::before{
    display: block;
    content: '';
    height: 8px;
    border-left: 0.5px solid #9B9B9B;
    transform: translateY(7px);
    margin-right: 15px;
}

.news .child .news-item {
    display: flex;
    width: 100%;
    height: auto;
    padding-left: 5px;
    padding-right: 5px;
    margin-bottom: 22px;
}

.news .child .news-item:last-child {
    margin-bottom: 0;
}

.news .child .news-item .img {
    width: 85px;
    height: 65px;
    margin-right: 15px;
}

.news .child .news-item .img img {
    width: 100%;
    height: 100%;
}

.news .child .news-item .article-content {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
}

.news .child .news-item .article-content .article-title {
    width: 100%;
    font-size: 14px;
    line-height: 22px;
    font-weight: 400;
    transition: 0.3s;
}

.news .child .news-item .article-content .article-title:hover {
    color: #27ae60;
}

.news .child .news-item .article-content span{
    display: inline-block;
    margin-top: auto;
    margin-right: 15px;
    padding: 0;
    font-weight: 200;
    line-height: 24px;
    font-size: 12px;
    color: #9B9B9B;
}

.news .no-img .news-item:first-child .article-title{
    color: #000000;
    font-size: 14px;
    line-height: 20px;
    font-weight: 500;
}

.news .no-img .news-item:first-child span {
    color: #3C3C3C;
    font-size: 13px;
    line-height: 22px;
}