/* min width 330px  */
@media (min-width: 420px) {
    .news .child .news-title,
    .news .child span {
        padding-left: 0;
        padding-right: 0;
    }

    .news .child .news-item {
        padding-left: 0;
        padding-right: 0;
    }
    
    #hot-news-content,
    main,
    #footer-content,
    #videos-content,
    #header-content {
        width: 90%;
    }

    #aside {
        width: 100%;
    }
}

@media (min-width: 500px) {
    .news .child {
        width: 450px;
    }
    #hot-news-content {
        width: 450px;
        grid-template-columns: 450px;
    }
}

@media (min-width: 720px) {
    #hot-news-content {
        width: 80%;
        grid-template-columns: calc(50% - 2.5px) calc(50% - 2.5px);
    }
    .news .child {
        max-width: 310px;
    }

    main .news .child .img {
        height: 192.7px;
    }

    #videos .child {
        max-width: 270px;
    }

    #videos .child img {
        height: 170px;
    }
}

@media (min-width: 860px) {
    .news .child {
        max-width: 370px;
    }

    main .news .child .img {
        height: 250px;
    }

    main .all-news .child .img {
        height: 230px;
    }

    .width-50 {
        max-width: 370px;
    }
    
    .width-50-2 {
        margin-left: 30px;
    }

    #hot-news .hot-news-child .hot-news-title {
        padding: 0 6px 10px 8px;
        font-size: 18px;
    }

    
    #main-content .news .child:nth-child(even) {
        margin-right: 30px;
    }

    #main-content .width-50 .child:nth-child(even) {
        margin-right: 0;
    }

    #main-content .all-news .child:nth-child(odd) {
        margin-right: 30px;
    }

    #main-content .all-news .child:nth-child(even) {
        margin-right: 0;
    }

    #sub-header {
        display: block;
    }

    #sub-header-content {
        width: 90%;
    }

    #hot-news {
        margin-top: 30px;
    }

}

@media (min-width: 1170px) {
    #header-content {
        width: 1170px;
    }

    #menu-bars {
        display: none;
    }

    #main-nav {
        display: flex;
        justify-content: space-between;
    }

    #hot-news-content {
        margin: 0 auto;
        width: 1170px;
        display: grid;
        grid-template-columns: 670px 245px 245px;
        grid-template-rows: 295px 180px;
        grid-gap: 5px;
    }

    #hot-news-content .hot-news-child:first-child {
        grid-column: 1/2;
        grid-row: 1/3;
    }

    #hot-news-content .hot-news-child:nth-child(2) {
        grid-column: 2/4;
        grid-row: 1/2;
    }

    #hot-news-content .hot-news-child:nth-child(3) {
        grid-column: 2/3;
        grid-row: 2/3;
    }

    #hot-news-content .hot-news-child:nth-child(4) {
        grid-column: 3/4;
        grid-row: 2/3;
    }

    #hot-news .hot-news-child:first-child .hot-news-title {
        font-size: 20px;
        padding: 0 16px 24px 21px;
    }

    #hot-news .hot-news-child:nth-child(2) .hot-news-title {
        font-size: 20px;
        padding: 0 14px 15px 16px;
    }

    #hot-news .hot-news-child:nth-child(3) .hot-news-title,
    #hot-news .hot-news-child:nth-child(4) .hot-news-title {
        font-size: 16px;
        padding: 0 11px 6px 16px;
        line-height: 24px;
    }

    #main-content .news .news-menu .menu {
        display: flex;
    }

    #footer-content {
        display: flex;
        justify-content: space-between;
    }

    #footer-menu {
        display: flex;
    }

    #about-us {
        width: 370px;
        display: block;
    }
}

@media (min-width: 1220px) {
    #videos .news {
        justify-content: space-between;
    }
}

@media (min-width: 1320px) {
    #aside {
        display: block;
    }

}